@charset "utf-8";
/* CSS Document */

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Calibri', sans-serif;

}

body{
  background: #E8E8E8;
  font-size: 16px;
}



/* Start Top Navbar */

.top-navbar{
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  width: 100%;
  left:0;
  right: 0;
  z-index: 99999;
  box-shadow: 5px 7px 25px #999;
  background: #C7000C;

}


.top-navbar .top-menu{
  width: calc(100% - 30px);
  height: 100%;
  background: #C7000C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  ;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);

}

.top-navbar .top-menu .title{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 5px;

}

.top-navbar .top-menu ul{
  display: flex;
  margin-top: 12px;

}

.top-navbar .top-menu ul li a{
  display: flex;
  padding-top: 8px;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  color: #C7000C;
  background: #fff;
}

.top-navbar .top-menu ul li a:hover{
  background: #C7C7C7;
  color: #C7000C;
}

.top-navbar .top-menu ul li a:hover i{
  color: #C7000C;
}

.top-navbar .top-menu ul li a i{
  font-size: 17px;
}

.icon-parent {
  position: relative;
}


.icon-bullet::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 29px;
  height: 6px;
  width: 6px;
  background-color: #343434;
  border-radius: 50%;
}

.dropdown-menu {
  width: 300px;
  margin-right: 225px;
  margin-top: 3px;
  border-radius: 15px;
  border: 1px solid #C7000C;
  border-top-color: #6B6A6A;
  border-top-width: 6px;
  border-bottom-color: #6B6A6A;
  border-bottom-width: 6px;
  box-shadow: 1px 2px 5px #999;

}

.dropdown-title {
  height: 40px;
  background: #C7C7C7;
  margin-top: -7.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdown-title h5 {
  font-size: 16px;
  text-align: center;
  color: #C7000C;
  font-weight: bold;
  padding-top: 10px;
}

.dropdown-menu h6 {
  color: #C7000C;
  padding-left: 20px;
  padding-top: 10px;
}

.dropdown-menu p {
  padding-left: 20px;
  padding-top: -10px;
}


/* Finish Top Navbar */



/* Start Modal */

.modal-content {
  border: 1px solid #C7000C;
  border-radius: 15px;
  margin-top: 210px;
}

.btn {
  border: none;
  margin: 4px;
  padding: 8px;
  width: 120px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.6s;
  border-radius: 18px;
}

.btn1 {
  background-image: 
  linear-gradient(to left,#C7000C,#EF888E,#C7000C);
}

.btn:hover {
  background-position: right;
  color: #fff;
}

/* Finish Modal */



/* Start Main Menu */

.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;

}

.main-menu:hover,nav.main-menu.expanded{
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  /* position: absolute; */
  position: fixed;
  top: 20;
  bottom: 0;
  height: 92%;
  left: 0;
  width: 60px;
  overflow: hidden;
  transition: width 0.5s linear;
  z-index: 1000;
  -webkit-transform:translateZ(0) scale(1,1);
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url(../img/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #999;
}

.main-menu > ul {
  margin: 30px 0;

}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;

}

.main-menu li a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform:translateZ(0) scale(1,1);
  transition: all .2s linear;
  margin-bottom: 6px;
}


.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  letter-spacing: 1px;
  font-size: 14px;

}

.main-menu ul.logout {
  position: absolute;
  left: 0;

}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,a:focus {
  text-decoration: none;
}

nav {
  user-select: none;
}

nav ul,nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover a,
nav.main-menu li.active a,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu .active a,
.dropdown-menu .active a:hover,
.dropdown-menu .active a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: white;
  background-color: #C7000C;
}

/* Finish Main Menu */




/* Start Area */

.area {
  float: left;
  background: #E8E8E8;
  width: 92%;
  height: 100%;
  margin-left: 80px;
  margin-top: 80px;

}

/* Finish Area */




/* Start Cards */

.col-auto .icon i {
  font-size: 60px;
  color: #C7000C;
}

.card-title {
  color: #C7000C;
}

.h3 {
  color: #5B5B5B;
}

.card{
  background: #C7000C;
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}

.card-body {
  box-shadow: 1px 2px 5px #999;
  transition: all .4s;
  border-radius: 15px;
  background: #fff;
}

.card-body:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}

#text i{
  height: 10px;

}

/*
.line {
  background-color: #B0B0B0;
}
*/


/* Finish Cards */


.satis-1 {
  width: 1238px;
  height: 525px;
  background: #fff;
  float: left;
  box-shadow: 2px 3px 15px #999;
  margin-top: 8px;
  margin-left: 3px;
  margin-bottom: 50px;
}